.products {
    padding: 50px 0;
}

.products__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product__pagination {
    text-align: center;
    margin-top: 30px;
}

.product__pagination > button {
    height: 30px;
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.product__pagination > button.selected {
    background: orange;
}