.orderSummery {
    background: #FF99004D;
    width: 500px;
    padding: 20px 30px;
    border-radius: 10px;
}

.orderSummery__title {
    margin-top: 20px;
}

.orderSummery__title > h3 {
    color: #1C2B35;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.orderSummery__detail {
    margin-top: 50px;
}

.orderSummery__specifications > p {
    color: #2A414F;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

.orderSummery__grand__total > h5 {
    color: #0E161A;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
}

.orderSummery__summery__button {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.orderSummery__summery__button > button {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    border: none;
    outline: none;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

}

.orderSummery__summery__button > button:nth-child(1) {
    background: #FF3030;
}

.orderSummery__summery__button > button:nth-child(2) {
    background: #FF9900;
}